html,
body {
  min-width: 360px;
}
[ng-controller='p6gdController'] {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}
[ng-controller='p6gdController'] .sub-h1 {
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  margin-top: .25em;
}
[ng-controller='p6gdController'] .sub-h2 {
  font-weight: bold;
  font-style: italic;
  display: block;
}
[ng-controller='p6gdController'] .sub-h3 {
  display: block;
  margin-top: .25em;
}
[ng-controller='p6gdController'] .text.bold {
  font-weight: bold;
}
