@import 'default-values.less';

html,
body
{
    font-size: @default-font-size;
    line-height: 1.5;

    min-width: 360px;

    text-align: justify;
}

[ng-app='p6gdChapter']
{
    margin-bottom: 15px;

    #main-header
    {
        font-size: 1.5em;
        line-height: 64px;

        height: 64px;

        color: @clr-white;
        background-color: @primary-color;
    }

    .sub
    {
        &-h1
        {
            font-size: 1.25em;
            font-weight: bold;

            display: block;

            margin-top: .5em;
        }

        &-h2
        {
            font-weight: bold;
            font-style: italic;

            display: block;
        }

        &-h3
        {
            font-style: italic;

            display: block;

            margin-top: .25em;
        }
    }

    .text
    {
        &.bold
        {
            font-weight: bold;
        }
    }

    .hightlight
    {
        font-weight: bold;
        font-style: normal;

        color: @highlight-color;
    }
}
